/* HEADER */

.hello {
  font-family: 'Bungee', cursive;
  font-size: 100px;
}

.typewriter{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

/*BODY OF PAGE */
.flex-container {
  border: 3px solid #fff;
  display: flex;
  
}

.flex-child {
  flex: 1;
  margin: 30px;
}

.flex-child:flex-child {
  margin-right: 20px;
}

.avatar {
  border-radius: 50%;
  height: 300px;
}

.body-text {
  font-family: 'Bungee Hairline', cursive;
  font-weight: 600;
  margin-top: 40px;
}

/* PORTFOLIO */

.thumbnail:hover {
opacity: .5;
}

.portfolio {
  display: grid;
  align-items: center;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.parent {
  display: grid;
  grid-template-rows: auto 1fr auto;
}